.content {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 5rem;
}

.userSelector {
  width: 20vw !important;
  height: calc(100vh - 80px - 7rem);
}

.userSelectorChoices {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100% - 2rem);
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  padding-left: 1rem;
  overflow-y: auto;
  position: relative;
}

.userEditor {
  width: calc(80vw - 6rem) !important;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: auto;
}

.subteamEditorCardGroup {
  margin-top: 1em !important;
}

.cardHeader {
  position: fixed;
  top: 2rem;
}

.fullWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}

.userEmail {
  margin: 0;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropZone {
  border: 1px dashed gray;
  padding: 1rem;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
