.content {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 5rem;
}

.userSelector {
  width: 20vw !important;
  height: calc(100vh - 80px - 7rem);
}

.userSelectorChoices {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100% - 2rem);
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  padding-left: 1rem;
  overflow-y: auto;
  position: relative;
}

.userEditor {
  width: calc(80vw - 6rem) !important;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: auto;
}

.subteamEditorCardGroup {
  margin-top: 1em !important;
}

.cardHeader {
  position: fixed;
  top: 2rem;
}

.fullWidth {
  width: 100%;
  word-wrap: break-word;
  flex: inherit;
}

.halfWidth {
  width: 50%;
  word-wrap: break-word;
  flex: inherit;
}

.userEmail {
  margin: 0;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
}

.errorMessage {
  color: red;
  margin-top: 1rem;
  height: 8rem;
  overflow: scroll;
}

.successMessage {
  color: green;
  margin-top: 1rem;
  height: 8rem;
  overflow: scroll;
}

.wrap {
  word-wrap: break-word;
  flex: inherit;
}
