.shoutoutForm {
  width: 90% !important;
  align-self: center;
  margin: auto;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.formTitle {
  margin-bottom: 2vh;
}

.shoutoutsListContainer {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.noShoutoutsContainer {
  width: 100% !important;
  white-space: pre-wrap;
}

.shoutoutDetails {
  display: flex;
  justify-content: space-between !important;
  margin: 0 !important;
}

.shoutoutFrom {
  color: gray;
  display: inline-block;
  align-self: left;
}

.shoutoutDate {
  color: gray;
  display: inline-block !important;
  justify-content: right;
}

.Wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 2rem;
}
