.shoutoutForm {
  width: 90%;
  align-self: center;
  margin: auto;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.formTitle {
  margin-bottom: 2vh;
}

.shoutoutsListContainer {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.noShoutoutsContainer {
  width: 100%;
  white-space: pre-wrap;
}

.shoutoutDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0 !important;
}

.shoutoutTo {
  color: black;
  font-weight: bold;
  font-size: 17px;
}

.shoutoutDate {
  color: gray;
  display: inline-block;
  justify-content: right;
}

.shoutoutFrom {
  color: gray;
  display: inline-block;
  margin-top: 0 !important;
  align-self: left;
}

.shoutoutHide {
  display: flex;
  justify-content: space-between;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.shoutoutMessage {
  color: black;
  font-weight: bold;
  margin-top: 0 !important;
  font-size: 15px !important;
}

.Wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 2rem;
}
