.shoutoutsListContainer {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.noShoutoutsContainer {
  width: 90% !important;
  white-space: pre-wrap;
}

.Wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 2rem;
}
