.Placeholder {
  width: 12em;
  height: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Win {
  background-color: green;
}

.Empty {
  background-color: #d8d8d8;
}

.DTI48ProfileCard {
  width: auto !important;
}

.DTI48ProfileImage {
  background-color: #d8d8d8;
  object-fit: cover;
  width: 12em;
  height: 12em;
}
