.Hide {
  display: none;
}

.CardContainer {
  display: flex;
  justify-content: center;
}

.Card {
  width: 44em !important;
}

.Grid {
  display: grid;
  column-gap: 0.5em;
  row-gap: 0.5em;
  grid-template-rows: 14em 14em 14em;
  grid-template-columns: 14em 14em 14em;
}

.MarginBottom {
  margin-bottom: 1em;
}
