.productCard {
  border: none;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  width: 50rem;
  padding-left: 20px;
  padding-right: 20px;
}

.productCard:hover {
  box-shadow: 0px 0px 20px #016FEF;
  background: #FFFFFF;
}

.year {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 90%;
  line-height: 122%;
  color: #c1c1c1;
}

.productName {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 170%;
  line-height: 130%;
  color: #000000;
}

.productDescription {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 90%;
  line-height: 122%;
  color: #000000;
}

.imageAndText {
  display: flex;
  flex-direction: row;
}

.productImage {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 60%;
  height: 60%;
}

.ourProductsTitle {
  margin-top: 5%;
  margin-bottom: 1%;
  font-size: 250%;
  text-align: center;
  font-weight: bold;
}

.ourProductsDescription {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 90%;
  text-align: center;
}

.topPipe {
  position: absolute;
  top: -15px;
  left: 277px;
  background-color: #bcbcbc;
  height: 350px;
  width: 0.5%;
}

.bottomPipe {
  position: absolute;
  top: 70px;
  left: 277px;
  background-color: #bcbcbc;
  height: 350px;
  width: 0.5%;
}

.productText {
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.productConnectingBar {
  position: absolute;
  width: 4710.28px;
  height: 0px;
  left: 531.5px;
  top: 5920.14px;

  border: 4.50956px solid #bcbcbc;
  transform: rotate(-90deg);
}
