.selectorContainer {
  display: flex;
  width: 540px;
  height: 54px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--border-default, #ebebeb);
  background: var(--bg-default, #fff);
  white-space: nowrap;
}

.option {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  min-width: 0;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  transition:
    background-color 50ms,
    color 50ms;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

/* Base colors */
.red {
  color: var(--accent-dark-red, #d8001b);
}

.orange {
  color: var(--accent-light-red, #ff676c);
}

.yellow {
  color: var(--accent-yellow, #ff9300);
}

.green {
  color: var(--accent-light-green, #28a948);
}

.darkgreen {
  color: var(--accent-dark-green, #0a6e29);
}

.grey {
  color: var(--fg-dimmest, #666);
}

/* Selected states */
.selected {
  display: flex;
  /* width: 450/6px; */
  /* padding: 16px; */
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* flex: 1 0 0; */
  color: var(--bg-default, #fff);
}

.redSelected {
  background: var(--accent-dark-red, #d8001b);
}

.orangeSelected {
  background: var(--accent-light-red, #ff676c);
}

.yellowSelected {
  background: var(--accent-yellow, #ff9300);
}

.greenSelected {
  background: var(--accent-light-green, #28a948);
}

.darkgreenSelected {
  background: var(--accent-dark-green, #0a6e29);
}

.greySelected {
  background: var(--border-default, #ebebeb);
  color: var(--fg-default, #171717);
}
