.wrapper {
  margin: auto;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
}

.bingoBoardWrapper {
  margin-bottom: 2em;
}

.formWrapper {
  padding-top: 3rem;
}

.bingo_board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(5px, 1.5vw, 15px);
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

.bingo_cell {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.bingo_cell:hover {
  background-color: #82beff;
}

.bingo_text {
  font-size: clamp(5px, 1.5vw, 13px);
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  margin: 5px;
}

.pending_text {
  font-size: clamp(5px, 1.5vw, 13px);
  text-align: center;
  overflow: hidden;
  padding-top: 5px;
  color: rgb(48, 164, 22);
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.dropdownContainer {
  margin-top: 4rem;
  padding-left: 4rem;
  position: relative;
  width: 100%;
}

.dropdownButton {
  margin-top: 2rem;
}
