.schedulerContainer {
  padding: 2%;
  height: 100vh;
}

.contentContainer {
  display: flex;
  gap: 3%;
}

.sidebarContainer {
  width: 40%;
  padding-top: 4em;
}

.inviteCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.inviteHeader {
  margin-bottom: 1em;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}
