.timeslot {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid black;
  height: 15px;
  width: 150px;
}

.column {
  position: relative;
}

.calendarContainer {
  width: 60%;
  margin-top: 2em;
  overflow-x: auto;
}

.calendarContainerFull {
  width: 100%;
  margin-top: 2em;
  overflow-x: auto;
}

.columnContainer {
  display: flex;
  margin-top: 2rem;
  --hour-block-width: 150px;
  --hour-block-height: 60px;
}

.timeLabelColumn {
  text-align: right;
  width: 100px;
  padding-right: 10px;
}

.timeLabel {
  height: var(--hour-block-height);
  margin: 0;
}

.slotButton {
  position: absolute;
  width: var(--hour-block-width);
  padding: 0 !important;
  border-radius: 0 !important;
}

.roomName {
  text-align: center;
  margin-bottom: 5px;
}

.roomForm {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}
