.apply-page {
  .application-role-selector {
    margin: 2rem 0;
  }

  .call-to-action-button {
    margin-top: 0.5rem;
    word-wrap: break-word;
    max-width: 90%;
    white-space: normal;
  }

  .email-form {
    .email-header {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;

      & + p {
        font-size: 1.5rem;
      }
    }
  }

  .coffee-chat {
    overflow: hidden;
    color: #000;
    margin: 4vw 0;
    padding: 2rem 4vw;

    .info-session-description {
      padding-right: 4vw;

      .header {
        font-size: 3rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
      }

      .subheader {
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: 0.3px;
      }

      .description {
        margin-top: 2.5rem;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: 0.3px;
      }
    }

    .info-session-details {
      padding-left: 4vw;

      .info-session {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;

        .time {
          margin-bottom: 0.3125rem;
          font-size: 2rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.3px;

          @media (max-width: 768px) {
            letter-spacing: 0.5vw;
            text-align: center;
          }

          @media (max-width: 500px) {
            font-size: 5vw;
            text-align: center;
          }
        }

        @media (max-width: 767px) {
          .location-desktop {
            display: none !important;
          }
        }

        @media (min-width: 768px) {
          .location-mobile {
            display: none !important; // TODO fix this
          }
        }
      }
    }
  }

  .timeline {
    overflow: hidden;
    color: #000;
    margin: 4vw 0;
    padding: 1rem 4vw;
    letter-spacing: 0.3px;

    .timeline-header {
      .header {
        color: #d0021b;
        font-size: 3rem;
        font-weight: bold;
        line-height: normal;
      }

      .subheader {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.4;
      }
    }

    .timeline-details {
      padding-left: 4vw;

      .timeline {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        text-align: center;

        .title {
          color: #d0021b;
          margin-bottom: 1rem;
          font-size: 2.25rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;

          @media (max-width: 768px) {
            text-align: center;
          }

          @media (max-width: 500px) {
            font-size: 6vw;
          }
        }

        .event {
          margin-top: 1.5rem;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;

          .label {
            font-size: 1.5rem;
            font-weight: bold;
          }

          .time {
            margin-top: 0.75rem;
          }
        }
      }
    }
  }

  .info-session-interjection {
    overflow: hidden;
    background-color: rgb(255, 71, 92);
    color: #fff;
    margin: 4vw 0;
    padding: 5rem 4vw;

    .info-session-description {
      padding-right: 4vw;

      .header {
        font-size: 3rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
      }

      .subheader {
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: 0.3px;
      }

      .description {
        margin-top: 2.5rem;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: 0.3px;
      }
    }

    .info-session-details {
      padding-left: 4vw;

      .info-session {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;

        .time {
          margin-bottom: 0.3125rem;
          font-size: 2rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.3px;

          @media (max-width: 768px) {
            letter-spacing: 0.5vw;
            text-align: center;
          }

          @media (max-width: 500px) {
            font-size: 5vw;
            text-align: center;
          }
        }

        @media (max-width: 767px) {
          .location-desktop {
            display: none !important;
          }
        }

        @media (min-width: 768px) {
          .location-mobile {
            display: none !important; // TODO fix this
          }
        }

        .location {
          margin-top: 0.3125rem;
          font-size: 1.25rem;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.3px;

          @media (max-width: 768px) {
            text-align: center;
          }
        }
      }
    }
  }

  .apply-link {
    color: #fff;
  }

  .apply-description {
    margin: 0.25rem 0 2.5rem;
  }

  .apply-list {
    margin-bottom: 1rem;
  }

  .apply-header {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
  }
  .apply-list-item {
    margin-bottom: 0.1rem;
  }

  .apply-hero {
    height: 80vh;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .apply-top {
    font-size: 48px;
    text-align: center;

    h2 {
      margin-bottom: 43px;
    }

    p {
      font-size: 24px;
      letter-spacing: 0.4px;
    }
  }
  .row.apply-dates {
    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 32px;
    }
    h3,
    p {
      font-size: 20px;
    }
  }
  .alert {
    display: block;
    margin-top: 1em;
  }
  .apply-pills {
    width: 100%;

    .card-header {
      background-color: transparent !important;
      border-bottom: none;
      display: flex;
      justify-content: center;
      margin-bottom: 15px;

      li a,
      li a.active {
        background-color: transparent;
        color: black;
        font-weight: 600;
        line-height: 1.06;
        letter-spacing: 0.3px;
        text-decoration: none;

        &.active {
          border-bottom: 2px solid black;
          border-radius: 0px;
        }
      }

      button.apply-button {
        color: #ffffff;
        font-size: 32px;
        font-weight: 500;
        height: 38px;
        padding: 12px 39px;
        letter-spacing: 0.2px;
        text-align: left;
        width: 81px;
      }

      .tab-content {
        .card-body {
          .tab-roleSpecific-content {
            padding-left: 120px;
            border-left: 5px solid black;

            h2,
            p {
              margin: 0;
            }
            h2 {
              font-size: 22px;
            }
            p {
              font-size: 18px;
            }
            h2 + p {
              margin-top: 22px;
            }

            p + h2 {
              margin-top: 40px;
            }

            & + .row {
              margin-top: 52px;
            }

            @media screen and (max-width: 768px) {
              padding-left: 5px;
            }
          }
        }
      }
    }
    button.apply-button {
      color: #ffffff;
      font-size: 32px;
      font-weight: 500;
      height: 38px;
      padding: 12px 39px;
      letter-spacing: 0.2px;
      text-align: left;
      width: 81px;
    }
  }

  button[type='submit'] {
    margin-left: 15px;
  }
  .col,
  div[class*='col-'] {
    &.left-col-text {
      text-align: left;
    }
    &.right-col-text {
      color: grey;
      font-weight: bold;
      text-align: right;
    }
  }
  .container-section-heading {
    font-size: 50px;
    font-weight: 600;

    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  #newsletterEmailSubscribeInput {
    border-radius: 5px;
  }
  .text-header {
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);

    & + p {
      color: grey;
    }
  }

  @media screen and (max-width: 768px) {
    .col,
    div[class*='col-'] {
      &.right-col-text {
        color: grey;
        font-weight: bold;
        text-align: left;
      }
    }
  }
}
