$dark-gray: #4a4a4a;
.courses-icon {
  width: 100%;
}

.courses-contact {
  h2 {
    font-size: 2rem;
    font-weight: 600;
  }
}

.courses-list-heading {
  font-size: 2.25rem;
}

.courses-row-image {
  object-fit: cover;
  max-height: 350px;
  width: 100%;
  margin: 0.25rem 0;
}

.table-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-sm-head {
  font-size: 1.15rem;
  font-weight: bold;
}

.text-sm-left {
  font-style: italic;
  font-size: 0.9rem;
}

.courses-tier-background {
  @media screen and (max-width: 1000px) {
    display: none;
  }

  background-color: #454545;
  position: relative;
  height: 100%;
  min-width: 100%;
  overflow: hidden;
}

.courses-list {
  .col,
  div[class*='col-'] {
    font-size: 1.5625rem;
    margin: auto;
    text-align: center;
    width: 90%;
  }
}

.courses-row-image {
  object-fit: cover;
  height: 30rem;
  width: 100%;
  margin: 0.25rem 0;
}

.courses-row {
  h2 {
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: -0.3px;
    text-align: left;
  }

  .courses-row-img {
    overflow: hidden;
  }

  & + .courses-row {
    margin-top: 3.5rem;

    @media screen and (max-width: 768px) {
      margin-top: 0.625rem;
    }
  }
  text-align: left;
  h2 {
    text-align: left;
    color: #d0021b;
  }

  & + .courses-row {
    margin-top: 50px;

    @media screen and (max-width: 768px) {
      margin-top: 10px;
    }
  }

  &:nth-child(even) {
    .courses-row-img {
      text-align: right;
      margin-right: auto;
    }

    .courses-row-content-container {
      padding-left: 80px;
      @media screen and (max-width: 768px) {
        padding-left: 15px;
      }
    }
  }

  &:nth-child(odd) {
    .courses-row-img {
      text-align: left;
      margin-left: auto;
    }

    .courses-row-content-container {
      padding-right: 80px;

      @media screen and (max-width: 768px) {
        padding-right: 15px;
      }
    }
  }

  .courses-row-content {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: -0.4px;
    color: $dark-gray;
  }

  .courses-row-content-subheader {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .courses-top {
    font-size: 3rem;
    text-align: center;

    h2 {
      margin-bottom: 2.6875rem;
    }

    p {
      font-size: 1.5rem;
      letter-spacing: 0.025rem;
    }
  }
}

// Social media buttons
.social-button {
  align-items: center;
  background-color: $dark-gray;
  border-radius: 10px;
  font-size: 1.17em;
  display: inline-flex;
  margin: 28px 0;
  justify-content: center;
  padding: 10px 15px;

  svg {
    fill: #fff;
    min-width: 21px;
    min-height: 25px;
    max-height: 25px;
    max-width: 30px;
  }

  .social-button-text {
    border-left: 1px solid white;
    margin-left: 15px;
    padding-left: 15px;
  }

  .course-website-text {
    margin-left: 15px;
    padding-left: 15px;
  }

  &-red {
    background: #c93b4c;
  }

  &-small {
    font-size: 1.3rem;
  }

  &-inline {
    width: auto;
  }
}
