$dark-gray: #4a4a4a;

.initiatives-main-section {
  margin-top: 0 !important;
}

.initiative-row {
  .justify-content-center {
    text-align: center;
  }
}

.initiatives-hero {
  height: 80vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.initiative-contact {
  h2 {
    font-size: 32px;
    font-weight: 600;
  }

  .btn {
    background-color: $dark-gray;
    border-radius: 10px;
  }
}
.initiative-list-heading {
  font-size: 36px;
}
.initiative-list {
  .col,
  div[class*='col-'] {
    border-radius: 32px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
    height: 156px;
    font-size: 25px;
    margin: auto;
    text-align: center;
    width: 90%;
  }
}

// A row representing one initiative
.initiative-row {
  & + .initiative-row {
    margin-top: 120px;

    @media screen and (max-width: 768px) {
      margin-top: 10px;
    }
  }

  // Odd rows (right aligned)
  &:nth-child(even) {
    margin-left: auto;
    text-align: left;

    .initiative-row-img {
      text-align: left;
    }

    .initiative-row-content-container {
      padding-left: 80px;

      @media screen and (max-width: 768px) {
        padding-left: 15px;
      }
    }
  }

  // Even rows (left aligned)
  &:nth-child(odd) {
    text-align: left;

    img {
      text-align: right;
    }

    .initiative-row-content-container {
      padding-right: 80px;

      @media screen and (max-width: 768px) {
        padding-right: 15px;
      }
    }
  }

  h2,
  h3 {
    font-weight: bold;
  }
  h2 {
    font-size: 36px;
    letter-spacing: -0.3px;
  }
  h3 {
    font-size: 24px;
    letter-spacing: -0.4px;
    color: $dark-gray;
  }

  .initiative-row-image {
    object-fit: cover;
    height: 30rem;
    width: 100%;
    margin: 0.25rem 0;
  }

  .initiative-row-img {
    height: 100%;
    overflow: hidden;
  }

  .initiative-row-content {
    font-weight: 500;
    letter-spacing: -0.4px;
    color: $dark-gray;
  }

  .initiative-row-content-subheader {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
  }

  .initiative-row-content-header {
    margin-bottom: 0.625rem;
    font-weight: 600;
    font-size: 2.25rem;
    letter-spacing: -0.3px;
    color: #d0021b;
  }
}

// The top of the page
.initiative-top {
  text-align: center;

  h2 {
    font-family: Raleway;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 43px;
  }

  p {
    font-size: 24px;
    letter-spacing: 0.4px;
  }
}

// Social media buttons
.social-button {
  align-items: center;
  background-color: $dark-gray;
  border-radius: 10px;
  font-size: 1.17em;
  display: inline-flex;
  margin: 28px 0;
  justify-content: center;
  padding: 10px 15px;

  svg {
    fill: #fff;
  }

  .social-button-text {
    border-left: 1px solid white;
    margin-left: 15px;
    padding-left: 15px;
  }
}
