.team-page {
  $primary: #ff324a;
  $secondary: #f6f6f6;

  .team-hero {
    height: 80vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }

  .company-switcher {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s linear;
  }

  .company-switcher-a {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s linear;
  }

  .team-header {
    position: relative;
  }

  .team-work-description {
    font-size: 3rem;
  }

  .team-header-outer {
    margin-bottom: 1rem;
    font-size: 4.5rem;
    font-weight: 600;
    z-index: 10;
    background: linear-gradient(to right, white 95%, rgba(255, 255, 255, 0));
    padding-right: 2vw;
  }

  .no-wrap {
    flex-wrap: nowrap !important;
    max-width: 100%;
  }

  .lefter {
    z-index: 10;
  }

  .graph-header {
    font-size: 2.25rem;
    margin: 0.3rem 0;
    font-size: 2.25rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
    text-align: center;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  .graph-datum {
    filter: drop-shadow(2px 4px rgba(0, 0, 0, 0.2));
    font-size: 2.5rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    color: #ffffff;

    .graph-datum-description {
      font-size: 1.5rem;
      font-size: 1.125rem;
      letter-spacing: 0.7px;
    }

    h3 {
      font-family: Raleway;
      font-weight: 500;
    }

    &.red h3 {
      color: #ff324a;
    }
  }

  .team-role-selector {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    padding: 0 1vw;
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 86rem;
  }

  .diversity-role-selector {
    font-size: 1.5rem;
    font-weight: 500; //todo
  }

  .company-list {
    position: relative;
    font-size: 2rem;
    max-width: 95vw;
    margin-top: 1rem;
    margin-bottom: 10vh;

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      pointer-events: none;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 90%
      );
      width: 100%;
      height: 6.5em;
    }
  }

  .team-header {
    font-size: 3rem;
    font-weight: 400;
  }

  .pseudo-team-header {
    max-width: 80vw;
    margin-top: 1rem;
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .team-hero-header {
    font-size: 5rem;
    font-weight: bold;
  }

  .team-hero-header-subtext {
    font-size: 2rem;
  }

  .circle-inner-data {
    text-align: center;
    height: 120px;
  }

  // TODO create selector component

  .diversity {
    min-height: 80vh;
    overflow: hidden;
    position: relative;
    color: #fefefe !important;

    .diversity-inner-right {
      padding: 2rem 3.5rem 2rem 0;

      @media (max-width: 767px) {
        padding: 2rem 1rem;
      }
    }

    .diversity-inner-left {
      padding: 2rem 0 2rem 3.5rem;

      @media (max-width: 767px) {
        padding: 2rem 1rem;
      }
    }

    .sm-y-padding {
      padding: 0.6rem 0;
    }

    .lg-y-padding {
      padding: 1rem 0;
    }

    .diversity-stat-header {
      font-size: 4.5rem;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.9px;
      color: #ffffff;
      padding-bottom: 0.1rem;
    }

    .diversity-header {
      padding: 0.6rem 0;
      font-size: 3rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
    }

    .diversity-description {
      font-size: 1.125rem;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      color: #ffffff;
    }

    .diversity-stat-description {
      padding-top: 0.1rem;
      font-size: 1.125rem;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.7px;
      color: #ffffff;
    }

    &.diversity-background {
      background-image: url('/static/pages/team-diversity-background.jpg'); // todo convert to lazy-video
      background-size: cover;
    }

    &.diversity-background:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      min-height: 80vh;
      background: inherit;
      filter: blur(10px);
      transition: all 2s linear;
    }
    @media (min-width: 768px) {
      .diversity-left-overlay {
        background-color: rgba(70, 71, 72, 0.8);
        clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);
      }
    }

    @media (max-width: 767px) {
      &.diversity-content {
        background-color: rgba(70, 71, 72, 0.8);
      }

      .diversity-inner-text {
        text-align: center;
        margin-top: 1rem;
        font-size: 3rem;
      }
    }

    @media (min-width: 768px) {
      .diversity-inner-text {
        padding: 2vw 4vw;
        font-size: 2.5rem;
      }
    }
  }
}
