#adminCandidateDeciderContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#submitButton {
  margin-top: 1rem;
}

#listContainer {
  margin-top: 3rem;
}

#cardButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
