.EditTeam {
}

.teamMemberEditorCardGroup {
  margin-top: 1em !important;
}

.content {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.memberCount {
  margin: 0;
  color: gray;
}

.cardContent {
}

.cardContent .ui .results {
  width: 100%;
}

.cardHeader {
  position: fixed;
  top: 2rem;
}

.fullWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}
