.container {
  width: 90%;
  margin: 5em auto;
}

.arrowAndButtons {
  display: flex;
  justify-content: space-between;
}

.arrow {
  font-size: 3em;
  text-decoration: none;
  cursor: pointer;
}

.eventName {
  text-align: center;
}

.eventDetailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
}

.eventDetails {
  color: gray;
  border: 1px solid;
}

.listsContainer {
  display: flex;
  justify-content: space-between;
}

.listContainer {
  width: 50%;
  margin: 0 2em;
}

.memberTitle {
  margin: 1em;
  text-align: center;
}
