.rightShapes {
  position: relative;
  width: 298px;
  height: 390px;
  left: 676px;
  top: -600px;
  max-width: 100%;
}
.rightRedShadow {
  position: absolute;
  width: 328px;
  height: 368px;
  left: 1300px;
  top: 1500px;

  background: rgba(173, 54, 54, 0.8);
  filter: blur(150px);
}

.leftRedShadow {
  position: absolute;
  width: 328px;
  height: 368px;
  left: -100px;
  top: 988px;

  background: rgba(173, 54, 54, 0.8);
  filter: blur(150px);
}

.workingTogether {
  position: relative;
  display: flex;
  flex-direction: row;
  left: 695px;
  top: -200px;
  margin-bottom: 2%;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 50px;
  line-height: 32px;
  flex-direction: row;
}

.diversity {
  position: relative;
  left: 90px;
  top: -450px;
  margin-bottom: 1%;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 50px;
  line-height: 32px;
}

.paragraph {
  position: relative;
  height: 162px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  text-align: left;
  line-height: 25px;
  color: #ffffff;
}

.leftShapes {
  position: relative;
  width: 298px;
  height: 390px;
  left: -16%;
  top: -340px;
}

.middleShapes {
  position: relative;
  width: 298px;
  height: 390px;
  left: -200px;
  top: 0px;
}

.our {
  width: 217px;
  color: #ffffff;
}

.team {
  width: 295px;
  color: #FF4C4C;
  ;
}

.ourTeam {
  position: relative;
  width: 1000px;
  left: 300px;
  height: 121px;
  top: 130px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 121px;
}

.teamMiddleRight {
  position: relative;
  width: 450px;
  height: 250px;
  left: 400px;
  top: 150px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.teamTopLeft {
  position: relative;
  width: 450px;
  height: 300px;
  left: -1100px;
  top: -560px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.teamBottomLeft {
  position: relative;
  width: 600px;
  height: 300px;
  left: -420px;
  top: -200px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.donutPlaceholder {
  position: relative;
  left: 0px;
  top: 150px;
}

.statLeftVerticalBar {
  width: 0px;
  height: 111px;
  border: 2px solid #FF4C4C;
  ;
  border-radius: 170px;
  margin-right: 10px;
}

.statNum {
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 10px;
}

.statData {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  color: #eaeaea;
  margin-top: 15px;
}

.statSubTeamsColor {
  position: relative;
  width: 52px;
  height: 10px;
  border-width: 6px;
  border-style: solid;
  border-radius: 110px;
}

.statSubTeams {
  position: relative;
  margin-left: 20px;
  top: -13px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #eaeaea;
}

.subteamStats {
  position: relative;
  top: -700px;
  left: 1100px;
}

.collegeStats {
  position: relative;
  left: 100px;
  top: -330px;
}

.statCollege {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.statSubteam {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.teamStats {
  position: relative;
  top: -400px;
}

.statNumStatData {
  margin-left: 20px;
  margin-top: 20px;
}

.background {
  background-color: #1C1C1C;
  height: 2129px;
  text-align: center;
  max-width: 100%;
}

.working {
  color: #AEAEAE;
  padding-right: 15px;
}