@import 'tailwindcss';

:root {
  --background-1: #0d0d0d;
  --background-2: #181818;
  --background-3: #292929;

  --foreground-1: #ffffff;
  --foreground-2: #cccccc;
  --foreground-3: #a1a1a1;

  --border-1: #2e2e2e;
  --border-2: #454545;

  --accent-red: #ff575e;
  --accent-green: #00ca51;
  --accent-blue: #47a8ff;
  --accent-yellow: #ff9300;
  --accent-purple: #c372fc;
}

body {
  background: var(--background-1);
  color: var(--foreground-1);
  font-family: Arial, Helvetica, sans-serif;
}
