@import 'tailwindcss';

:root {
  /* BACKGROUND */
  --background-1: #0d0d0d; /* Use as default background page background color */
  --background-2: #181818; /* Use for an elevated surface, or for hover states */
  --background-3: #292929; /* Use for highest elevated surfaces, or for higher hover states */

  /* FOREGROUND */
  --foreground-1: #ffffff; /* Use for default text color */
  --foreground-2: #cccccc; /* Slightly less emphasis than foreground-1
                                Use for secondary text when foreground-3 is too subtle
                                Also used for the hover state of the Button (primary variant) */
  --foreground-3: #a1a1a1; /* Use as default color for all secondary text */

  /* BORDER */
  --border-1: #2e2e2e; /* Use as default color for borders */
  --border-2: #454545; /* Use as secondary border color (for emphasis).
                            This color is also used specifically for the Textfield component border hover state. */

  /* ACCENT */
  --accent-red: #ff575e; /* General DTI accent/full team color */
  --accent-green: #00ca51; /* Development team color */
  --accent-blue: #47a8ff; /* Design team color */
  --accent-yellow: #ff9300; /* Business team color */
  --accent-purple: #c372fc; /* Product team color */
}

/* This is so we can use the variables inline in the className attribute
Usage examples (remove the "color-" prefix when using in className): 
- For background color: className="bg-background-1"
- For text color: className="text-foreground-1"
 */
@theme inline {
  /* BACKGROUND */
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);

  /* FOREGROUND */
  --color-foreground-1: var(--foreground-1);
  --color-foreground-2: var(--foreground-2);
  --color-foreground-3: var(--foreground-3);

  /* BORDER */
  --color-border-1: var(--border-1);
  --color-border-2: var(--border-2);

  /* ACCENT */
  --color-accent-red: var(--accent-red);
  --color-accent-green: var(--accent-green);
  --color-accent-blue: var(--accent-blue);
  --color-accent-yellow: var(--accent-yellow);
  --color-accent-purple: var(--accent-purple);

  /* BREAKPOINT VARIABLES */
  --breakpoint-sm: 390px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1440px;
}

body {
  background: var(--background-1);
  color: var(--foreground-1);
  font-family: Inter, sans-serif;
}

h1,
.h1 {
  font-size: 47.78px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.48px;
}

@media (max-width: 390px) {
  h1,
  .h1 {
    font-size: 39.81px;
  }
}

h2,
.h2 {
  font-size: 39.81px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.48px;
}

@media (max-width: 390px) {
  h2,
  .h2 {
    font-size: 39.81px;
  }
}

h3,
.h3 {
  font-size: 33.18px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
  letter-spacing: -0.48px;
}

@media (max-width: 390px) {
  h3,
  .h3 {
    font-size: 27.65px;
  }
}

h4,
.h4 {
  font-size: 27.65px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
}

h5,
.h5 {
  font-size: 23.04px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

h6,
.h6 {
  font-size: 19.2px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

p.small {
  font-size: 13.33px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

p.caps {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 5%;
  text-transform: uppercase;
}

p.caps.small {
  font-size: 13.33px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 5%;
  text-transform: uppercase;
}

nav,
main,
section {
  outline: 0.5px solid var(--border-1);
}

.focusState:focus-visible {
  outline: 2px solid var(--foreground-1);
  outline-offset: 3px;
}
