@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --hero-primary: 255, 255, 255;
    --hero-secondary: 163, 163, 163;

    --hero-leading-header-xs: 63px;
    --hero-leading-header: 120px;
    --hero-leading-subheader: 50px;
    --hero-leading-body-text: 20px;

    --hero-header: 100px;
    --hero-subheader: 40px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --hero-primary: 255, 255, 255;
    --hero-secondary: 255, 255, 255, 0.7;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.section-heading {
  font-weight: 600;
}

/* Mobile phone viewport */
@media screen and (min-width: 320px) {
  .section-subheading {
    font-size: 12px;
    line-height: 14px;
  }

  .section-heading {
    font-size: 14px;
    line-height: 17px;
  }

  .section-text {
    font-size: 12px;
    line-height: 14px;
  }

  .primary-button {
    padding: 12px 14px;
    font-size: 16px;
  }

  .secondary-button {
    padding: 9.6px 11.6px;
    font-size: 16px;
  }
}

/* Tablet viewport */
@media screen and (min-width: 768px) {
  .section-subheading {
    font-size: 20px;
    line-height: 24px;
  }

  .section-heading {
    font-size: 24px;
    line-height: 29px;
  }

  .section-text {
    font-size: 22px;
    line-height: 26px;
  }

  .primary-button {
    padding: 16px 20px;
    font-size: 18px;
  }

  .secondary-button {
    padding: 13.6px 27.6px;
    font-size: 18px;
  }
}

/* Laptop viewport */
@media screen and (min-width: 1024px) {
}

.section-subheading {
  font-weight: 600;
}

.section-heading {
  font-weight: 600;
}

.primary-button {
  color: #fefefe;
  background-color: #d63d3d;
  border-radius: 12px;
  font-weight: 700;
  height: fit-content;
  width: fit-content;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.primary-button:hover {
  background-color: #a52424;
}

.primary-button[aria-disabled='true']:hover {
  background-color: #d63d3d;
}

.primary-button:focus-visible,
.secondary-button--red:focus-visible {
  outline: 3px solid #d63d3d !important;
  outline-offset: 3px;
  border-radius: 12px;
}

.secondary-button {
  color: #fefefe;
  background-color: black;
  border-radius: 12px;
  font-weight: 700;
  height: fit-content;
  width: fit-content;
  border-color: #fefefe;
  border-width: 3px;
  border-style: solid;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.secondary-button:hover {
  color: black;
  background-color: #fefefe;
}

.secondary-button--red {
  color: #d63d3d;
  background-color: #ededed;
  border-color: #d63d3d;
}

.secondary-button--red:hover {
  color: #d63d3d;
  background-color: #f7d8d8;
}

.secondary-button:focus-visible {
  outline: 3px solid #fefefe;
  outline-offset: 3px;
  border-radius: 12px;
}

a:focus-visible {
  outline: 3px solid #d63d3d;
  outline-offset: 3px;
  border-radius: 4px;
}

button:focus-visible,
summary:focus-visible {
  outline: 3px solid #d63d3d;
  outline-offset: 3px;
  transition: outline 0s;
}

summary {
  border-radius: 8px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  padding-right: 1rem;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: '';
  width: 13px;
  height: 7px;
  background: url('/icons/dropdown.svg');
  background-size: cover;
}

details[open] > summary::after {
  rotate: 180deg;
}

.custom-focus-state:focus-visible {
  outline: none;
  position: relative;
}

.custom-focus-state:focus-visible::after {
  content: '';
  width: calc(100% + 75px);
  height: 123px;
  top: -50px;
  left: -37px;
  border-radius: 8px;
  position: absolute;
  outline: 3px solid #d63d3d;
}

.memberCard:focus-visible::after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
}

.application-role-tab {
  border-radius: 8px;
}

.team-carousel-button {
  position: static;
}

.team-carousel-button:focus-visible::after {
  height: 317px;
  width: calc(100% + 26px);
  left: -13px;
  border-radius: 16px;
}

.icons:focus-visible {
  opacity: 0.6;
}

.coffee-calendar-hover {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}
