.credentialContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 20px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin-right: 10px;
}
