.controlsContainer {
  display: flex;
}

.candidateDeciderContainer {
  padding: 2%;
  display: flex;
}

.applicationContainer {
  width: 150em;
  border-right: solid;
  border-color: lightgrey;
  padding: 1%;
}

.progressContainer {
  padding: 1%;
  display: flex;
  width: 100%;
}
