.controlsContainer {
  display: inline;
}

.candidateDeciderContainer {
  padding: 2%;
  display: flex;
}

.applicationContainer {
  width: 150em;
  border-right: solid;
  border-color: lightgrey;
  padding: 1%;
}

.progressContainer {
  padding: 1%;
  display: flex;
  width: 100%;
}

.candidateIDTitle {
  vertical-align: baseline;
  display: inline-block;
  margin-right: 0.5%;
}

.searchBar {
  margin-bottom: 1%;
  width: 101%;
}

.ofNum {
  vertical-align: baseline;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.showOtherVotes {
  margin-left: 1%;
}
