.navbarContainer {
  display: flex;
  margin: auto 70px auto;
}

.navMenu {  
  display: grid;
  grid-template-columns: repeat(6, auto);
  column-gap: 70px;
  list-style: none;
  justify-content: end;
  margin: auto 0 auto auto;
}

.navTitle {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.navLogo {
  margin: 40px 0 20px;
  justify-self: start;
}

