.App {
  text-align: left;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  position: relative;
}

.appSidebarContainer {
  position: absolute;
  top: 80px;
  height: calc(100vh - 80px);
}

.appSidebar {
  height: calc(100vh - 80px);
  padding-top: 80px;
}

.appSidebarDimmer {
  width: 100vw;
  margin: 0;
  padding: 0;
}
