:root {
  --fg-default: #171717;
  --fg-dimmer: #333333;
  --fg-dimmest: #666666;

  --bg-default: #ffffff;
  --bg-dimmer: #fafafa;
  --bg-dimmest: #f2f2f2;

  --border-default: #ebebeb;
  --border-dimmer: #c9c9c9;

  --accent-focus: #0e4dd4;
  --accent-strong-no: #d8001b;
  --accent-no: #ff676c;
  --accent-maybe: #ff9300;
  --accent-yes: #28a948;
  --accent-strong-yes: #0a6e29;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: left;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  position: relative;
}

.appSidebarContainer {
  position: absolute;
  top: 80px;
  height: calc(100vh - 80px);
}

.appSidebar {
  height: calc(100vh - 80px);
  padding-top: 80px;
}

.appSidebarDimmer {
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* Workaround for an unfixed bug with Loaders not showing up properly in Modals
 * https://github.com/Semantic-Org/Semantic-UI-React/issues/3133 
 */
.ui.dimmer .ui.modalLoader.loader:before {
  border-color: rgba(0, 0, 0, 0.1);
}

.ui.dimmer .ui.modalLoader.loader:after {
  border-color: #767676 transparent transparent;
}
