/* =========== COLORS =========== */
:root {
  --fg-default: #171717;
  --fg-dimmer: #333333;
  --fg-dimmest: #666666;

  --bg-default: #ffffff;
  --bg-default-transparent: #ffffff50;
  --bg-dimmer: #fafafa;
  --bg-dimmest: #f2f2f2;

  --border-default: #ebebeb;
  --border-dimmer: #c9c9c9;

  --accent-focus: #0e4dd4;
  --accent-strong-no: #d8001b;
  --accent-no: #ff676c;
  --accent-lean-no: #ff9300;
  --accent-lean-yes: #7eb133;
  --accent-yes: #28a948;
  --accent-strong-yes: #008080;
}

* {
  box-sizing: border-box;
  color: var(--fg-default);
}

/* =========== TYPOGRAPHY ===========  */
/* Heading large */
h1 {
  font-size: 32px;
  line-height: 115%;
  font-weight: 700;
  margin-bottom: 0;
}

/* Heading regular */
h2 {
  font-size: 28px;
  line-height: 115%;
  font-weight: 700;
}

/* Subheading large */
h3 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 700;
  margin-bottom: 0;
}

/* Subheading regular */
h4 {
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
  margin-bottom: 0;
}

/* Paragraph */
p {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

/* Paragraph small */
p.small {
  font-size: 14px;
  margin-bottom: 0;
}

.App {
  text-align: left;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  position: relative;
  background: var(--bg-dimmer);
}

.appSidebarContainer {
  position: absolute;
  top: 80px;
  height: calc(100vh - 80px);
}

.appSidebar {
  height: calc(100vh - 80px);
  padding-top: 80px;
}

.appSidebarContainer .item i {
  color: var(--bg-default);
}

.appSidebarDimmer {
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* Workaround for an unfixed bug with Loaders not showing up properly in Modals
 * https://github.com/Semantic-Org/Semantic-UI-React/issues/3133 
 */
.ui.dimmer .ui.modalLoader.loader:before {
  border-color: rgba(0, 0, 0, 0.1);
}

.ui.dimmer .ui.modalLoader.loader:after {
  border-color: #767676 transparent transparent;
}

/* Workaround to center the label in candidate switcher combobar
* Ideally in the future, we use our own custom component */
.ui.search.dropdown > .text {
  padding-top: 4px;
}
