@use "sass:math";

.circle-progress-indicator {
  $circle-background-color: #ececec;
  $circle-fill-color: #ff324a;
  $circle-border-color: grey;
  $circle-size: 300px;
  $inset-size: 270px;
  $inset-color: #fefefe;
  position: relative;

  .circle-progress {
    width: $circle-size;
    height: $circle-size;

    .inset {
      width: $inset-size;
      height: $inset-size;
      position: absolute;
      margin-left: math.div($circle-size - $inset-size, 2);
      margin-top: math.div($circle-size - $inset-size, 2);

      overflow: hidden;
      z-index: 10;

      .inset-content {
        padding: math.div($inset-size, 4.5) math.div($inset-size, 18);
        overflow: hidden;
        margin: 0 math.div($inset-size, 18);
        height: $inset-size;
      }
    }
    .circle {
      .mask {
        .fill {
          width: $circle-size;
          height: $circle-size;

          position: absolute;
          left: 0;

          backface-visibility: hidden;
          z-index: 2;
        }
      }
    }
  }
}
