.navbar-dark {
  .apply-button {
    padding-top: 0.325rem;
    padding-bottom: 0.325rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
}

// This matches the padding set by any menu link.
.apply-button {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.brand-icon {
  width: 7vh;
  height: 7vh;
  border-radius: 12.5%;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
}

.navbar-dti {
  transition: background-color 500ms linear;

  .navbar-toggler {
    outline: none !important;
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
  }

  &.navbar-dti-light {
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  }

  @media (min-width: 992px) {
    .navbar-nav > li {
      padding-left: 1vw;
      padding-right: 1vw;
    }
  }

  @media (max-width: 991px) {
    &.navbar {
      padding: 0;
    }

    .navbar-branding-dti,
    .navbar-toggler {
      margin: 0.5rem 1rem; // todo

      btn {
        float: right;
      }
    }

    .navbar-nav {
      float: none;
      text-align: center;
      padding-right: 0;

      .nav-item {
        padding: 0.5rem;
        border-top: 0.5px solid rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.navbar-padding {
  padding-top: 10vh !important;
}
