.member-profile-component {
  .member-modal-header {
    font-size: 1.25rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
  }

  .left-space {
    margin-left: 0.625rem;
  }

  .about-p {
    margin-top: 0.625rem;
    font-size: 0.875rem;
    font-family: Raleway;
    margin-right: 0.625rem;
  }

  .left-shift {
    margin-left: -2.5%;
  }

  .profile-text {
    text-align: center;
  }

  .profile-main {
    margin-bottom: 5%;
  }

  .profile-name-header {
    text-align: center;
    margin-top: 0.625rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;

    .profile-member-pronouns {
      font-size: 1rem;
      color: #a9a9a9;
      margin-left: 2%;
    }
  }

  .profile-role {
    text-align: center;
    opacity: 0.8;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
  }

  #profile-spacing {
    margin-top: 5%;
  }

  .profile-facts {
    margin-top: 0.3125rem;
    font-family: Raleway;
    font-size: 0.875rem;
  }

  .profile-label {
    font-weight: 600;
  }

  .profile-details {
    margin-left: -1.875rem;
    font-weight: 400;
  }

  .personalwebsite {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .divider {
    background-color: #4a4a4a;
    opacity: 0.5;
    width: 0.125rem;
    height: 100%;
  }

  .social-icon {
    width: 2rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .profile-image {
    height: 9.375rem;
    width: 9.375rem;
    border: 0.05rem #979797 solid;
    object-fit: cover;
  }

  .social-media {
    padding-top: 1rem;
    justify-content: center;

    .social-link {
      margin: 0.5rem;
    }
  }

  .profile-image-missing {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .about-section {
    margin-bottom: 1.25rem;
  }

  @media (min-width: 992) {
    .modal-dialog {
      max-width: 960px;
      margin: 10%;
    }
    .about-title {
      overflow-y: auto;
      max-height: inherit;
    }
  }

  @media (max-width: 991px) {
    .social-icon {
      margin-top: 10%;
    }

    .divider {
      background-color: white;
    }

    .about-title {
      margin-top: 10%;
    }

    .modal-dialog {
      max-width: 800px;
      margin: 10%;
    }

    .left-space {
      margin-left: 0rem;
    }

    .mobile-modal-scroll {
      overflow-y: auto;
      max-height: 70vh;
    }

    .link-list {
      padding-left: 50px;
    }
  }

  /*put position:fixed on the main page behind the modal */
  .team-logo {
    padding-right: 2rem;
  }

  .team-info-list {
    padding-top: 0.2rem;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  .team-info-item {
    margin-bottom: 0;
  }
}
