$radius: 25px;

#memberModal {
  .modal-scroll {
    overflow-y: auto;
    max-height: 70vh;
  }

  @media (max-width: 991px) {
    .modal-scroll {
      overflow-y: auto;
      max-height: 70vh;
    }
  }

  .modal-content {
    border: none !important;
    border-radius: ($radius + 5) !important;
  }

  .modal-body {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    padding: 2em;
    overflow: hidden;
  }

  .modal-close-button {
    opacity: 1;
    color: #4a4a4a;
    background-color: transparent;
    border: none;
    float: right;
    margin-left: auto;
  }

  .modal-header,
  .modal-footer {
    display: none;
  }
}
