.nova-hero {
  position: relative;
  overflow: hidden;

  .nova-hero-header {
    font-size: 5rem;
    font-weight: bold;
  }

  .nova-hero-subheader {
    font-size: 2rem;
  }

  .nova-hero-visual-container {
    position: relative;
  }

  $height: 65vh;

  .nova-hero-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: $height;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nova-hero-visual {
    height: $height;
    width: 100vw;
    position: relative;
    overflow: hidden;
    object-fit: cover;
  }
}
