.page-header {
  .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 60vh;
    height: 60vh;
    width: 100vw;
  }

  &.page-hero-greyscale {
    filter: grayscale(100%);
  }

  &.page-hero {
    overflow-y: hidden;
    min-width: 100%;
    min-height: 60vh;
    height: 60vh;
    transition: min-height 0.5s linear;
    background: #777;
  }
}
