.project-header-component {
  .project-hero-header-left-mobile {
    @media (max-width: 767px) {
      margin-left: 10vw;
    }
  }

  .project-hero-logo {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-hero {
    .project-hero-description {
      overflow: hidden;
      text-overflow: ellipsis;

      max-width: 80vw;
      font-size: 1.25rem;
      font-weight: 500;
    }

    .project-hero-text-header {
      font-size: 3rem;
      font-weight: 600;
    }

    .project-hero-header-left {
      padding: 10vh 0 5vh 0;
    }
  }

  .project-header {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .project-description {
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .feature-header {
    padding-bottom: 1.25rem;
    font-size: 2.25rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .product {
    max-width: 70%;
    object-fit: contain;

    @media (max-width: 767px) {
      display: none !important;
    }
  }

  .feature-padding {
    margin: 3vh;
  }
}
