.project-goto {
  .connect-text {
    vertical-align: middle;
  }

  .connect-icon {
    width: 2rem;
    height: 2rem;

    &.connect-icon-blank {
      fill: #fff !important;

      path {
        fill: #fff !important;
      }
    }
  }
}
