.Homepage {
  min-height: calc(100vh - 80px);
  min-width: 100vw;
}

.content {
  margin: 0 6rem 6rem 6rem;
  padding-top: 4rem;
}

.intro {
  margin-bottom: 2rem;
}

.quickActions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 4rem;
  column-gap: 4rem;
}

.sectionDescription {
  min-height: 3rem;
}

@media (max-width: 900px) {
  .quickActions {
    display: flex;
    flex-direction: column;
  }

  .sectionDescription {
    min-height: 0;
  }

  .quick {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
