.fade-in {
  background: linear-gradient(to top, var(--foreground-3), transparent);
}
.fade-out {
  background: linear-gradient(to bottom, var(--foreground-3), transparent);
}

@media (min-width: 640px) {
  .fade-in {
    background: linear-gradient(to left, var(--accent-red), transparent);
  }
  .fade-out {
    background: linear-gradient(to right, var(--accent-red), transparent);
  }
}
