.title {
  font-size: 2.1rem;
  font-weight: bold;
  font-family: var(--mainFontFamily) !important;
}

.container {
  height: 100vh;
  background: #27292a;
  margin: 0 !important;
}

.column {
  max-width: 450px;
}
