.attendanceCards {
  display: flex;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.container {
  width: 90%;
  margin: 5em auto;
}

.arrowAndButtons {
  display: flex;
  justify-content: space-between;
}

.arrow {
  font-size: 3em;
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  padding-top: 2.5em;
  width: 13em;
}

.eventName {
  text-align: center;
}

.eventDetailsContainer {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  align-self: center;
}

.eventDetails {
  color: gray;
  display: inline-block;
  margin: auto;
}

.inline {
  padding-top: 3.9em;
  padding-left: 1em;
  width: 8.5em;
}

.listsContainer {
  display: flex;
  justify-content: left;
}

.listContainer {
  margin: 0 1em;
}

.memberGroup {
  justify-content: center;
}

.memberTitle {
  margin: 1em;
  text-align: center;
}

.rowDirection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
