.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.csvButton,
.displayPeriod {
  padding: 0.5em 5%;
  display: inline-block;
}

.dashboardContainer {
  margin: 3%;
  overflow-x: scroll;
  width: 100%;
}

.tableContainer {
  max-width: 95%;
  overflow-y: auto;
}

.eventCell {
  min-width: 50px;
}

.nameCell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  gap: 10px;
}

.nameHeaderCell {
  position: sticky;
  left: 0;
}

.remindButton {
  position: inline-block;
  margin-left: 15px;
}

.notify {
  right: 10px;
}

.endOfPeriodCheckbox {
  margin-top: 5%;
}
