.dashboardContainer {
  margin: 3%;
  overflow-x: scroll;
  width: 100%;
}

.tableContainer {
  max-width: 95%;
  overflow-y: auto;
}

.eventCell {
  min-width: 50px;
}

.nameCell {
  position: sticky;
  left: 0;
  display: block;
  background-color: white;
  min-width: 250px;
}

.nameHeaderCell {
  position: sticky;
  left: 0;
}

.remindButton {
  position: sticky;
  left: 35%;
}

.notify {
  position: absolute;
  right: 1%;
}

.endOfSemesterCheckbox {
  margin-top: 5%;
  margin-left: 36%;
}
