.wrapper {
  width: 60%;
  margin: auto;
  margin-bottom: 4em;
}

.formWrapper {
  padding-top: 3rem;
}

.memberCard {
  align-items: center;
}

.creditImage {
  margin-bottom: 1rem;
  border-radius: 4px 4px 4px 4px;
}

.resetButtonContainer {
  margin-top: 2rem;
}
