name: Pull from IDOL
on:
  repository_dispatch:
    types: pull-idol-changes
  workflow_dispatch:
  schedule:
    # Run the script at 0AM in UTC every Tuesday, which is 7PM or 8PM on Monday in ET.
    - cron: '0 0 * * TUE'
  pull_request:
    paths:
      - new-dti-website-redesign/pull-from-idol.ts
      - .github/workflows/pull-from-idol.yml

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.BOT_TOKEN }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
      - name: Use Yarn Cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/yarn
          key: yarn-${{ hashFiles(format('{0}{1}', github.workspace, '/yarn.lock')) }}
          restore-keys: yarn-
      - name: Install
        run: yarn
      - name: Pull From IDOL
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: yarn workspace new-dti-website-redesign run pull-from-idol
