.shoutoutFormContainer {
  width: 50%;
  align-self: center;
  margin: auto;
  padding-top: 10vh;
  margin-bottom: 5%;
}

.shoutoutListContainer {
  width: 50%;
  align-self: center;
  margin: auto;
  padding-bottom: 10vh;
}

@media only screen and (max-width: 900px) {
  .shoutoutFormContainer {
    width: 90%;
    height: 100%;
    margin-bottom: 5%;
  }

  .shoutoutListContainer {
    width: 90%;
    height: 100%;
    margin-bottom: 5%;
  }
}
