.shoutoutForm {
  width: 100%;
  align-self: center;
  margin: auto;
}

.formTitle {
  margin-bottom: 2vh;
}

.formContainer {
  display: flex;
  align-items: left;
}

.isAnonCheckbox {
  padding-left: 5em;
  align-self: center;
}

.reasonContainer {
  padding: 0.8em 0;
}

.requiredIcon {
  color: #db2828;
}
