.shoutoutFormContainer {
  width: 50%;
  align-self: center;
  margin: auto;
  padding-top: 10vh;
  height: calc(100vh - 80px - 25vh)
}

.shoutoutTitle {
  text-align: center;
}

.listsContainer {
  min-height: 50vh;
  display: flex;
}

.listContainer {
  padding: 2em;
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .shoutoutTitle {
    text-align: left;
  }

  .listsContainer {
    flex-direction: column;
  }

  .listContainer {
    width: 100%;
  }
}
