.shoutoutForm {
  width: 100%;
  align-self: center;
  margin: auto;
}

.formTitle {
  margin-bottom: 2vh;
}

.formLabel {
  font-weight: bold;
}

.formContainer {
  display: flex;
  align-items: center;
}

.recipientNameDisplayContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.recipientNameDisplay {
  padding-right: 1.5em;
}

.isAnonCheckbox {
  padding-left: 2em;
}

.reasonContainer {
  padding: 0.8em 0;
}

.reasonInput {
  min-height: 25vh;
}
